include /mixins

form
    .form-group
        +cb('Show Boxing bug', 'boxing.showBoxing')
        each id in [...Array(3).keys()]
            +cbi(`Round ${id + 1} in progress/complete`, `boxing.roundComplete[${id}]`)
        .btn-group.btn-group-lg(role='group')
            button.btn.btn-success(
                ng-click='startTimer()',
                ng-disabled='!boxing.showBoxing'
            ) Start Timer
            button.btn.btn-warning(
                ng-click='resetTimer()',
                ng-disabled='!boxing.showBoxing'
            ) Reset Timer
            button.btn.btn-danger(ng-click='resetRounds()') Reset All
